<li class='history__item-wrapper'>
    <div class='flex-row-centered gap-10 padding-5-10 history__item'>
        <div class='box-32-32 flex-centered  history__user'>
            <img src='/{{this.avatar}}' alt='avatar' class='strach-layout avatar-wrapper' />
        </div>
        <div class='flex-column-centered gap-10 history-item__content-wrapper'>
            <span
                class='font-size-14 font-weight-500 history-item__user-email'
            >{{this.email}}</span>
            <span
                class='font-size-14 font-weight-200 history-item__action-message'
            >{{this.message}}</span>
            <span
                class='font-size-14 font-weight-300 history-item__action-datetime'
            >{{this.creationDate}}</span>
        </div>
    </div>
</li>