<li>
<div class="history__item-wrapper">
<div class="avatar-wrapper">
<img src="{{this.avatar_url}}" alt="not found" class="actor-avatar">
</div>
<div class="content-wrapper">
<span class="content__user-email">{{this.email}}</span>
<span class="content__action-message">{{this.message}}</span>
<span class="content__action-datetime">{{this.datetime}}</span>
</div>
</div>
</li>