.card-checklist::backdrop {
    background: transparent;
}

.card-checklist {
    background-color: var(--card-background-popups);
    width: 250px;
}

.card-checklist__content {
    width: 100%;
}

.card-checklist__title {
    color: var(--text-color-on-page);
    align-self: center;
}

.input-card-checklist__input {
    outline: none;
    color: var(--text-color-on-page);
    width: 100%;
    min-height: 32px;
    background-color: var(--input-background-color);
    box-shadow: inset 0 0 0 2px var(--main-btn-border-color);
}

.btn-create-checklist {
    width: 100%;
    background-color: var(--action-button-color);
}

.btn-create-checklist:active {
    background-color: var(--action-active-button-color);
}

