<dialog id='card-checklist' class='padding-10-20 border-radius-10 card-checklist' popover>
    <div class='flex-column-centered gap-30 card-checklist__content'>
        <span class='font-size-18 font-weight-500 card-checklist__title'>Чеклист</span>
        <input placeholder="Название чеклиста..." class='padding-0-10 border-radius-5 font-size-16 font-weight-500 input input-card-checklist__input' type="text">
        <button class="border-radius-5 padding-5-10 font-size-16 font-weight-500  btn btn-create-checklist">Создать</button>
    </div>
</dialog>