<nav class='sidebar-boards'>
    <div>
        <ul class='sidebar-boards__menu'>
            <li class='sidebar-boards__menu-item-wrapper'>
                <a class='sidebar-boards__menu-item sidebar-boards__menu-item_selected' disabled><img
                        src='board.svg'
                        alt=''
                    /><span>Доски</span>
                </a>
            </li>
            <li class='sidebar-boards__menu-item-wrapper'>
                <a class='sidebar-boards__menu-item' disabled>
                    <img src='files.svg' alt='' /><span>Шаблоны</span>
                </a>
            </li>
        </ul>
    </div>
    <div class='workspaces-list-wrapper'>
        <ol class='workspaces-list'>
            <li class='create-workspace__title-wrapper'>
                <div class='create-workspace__title'>
                    <span>Рабочие пространства</span>
                </div>
                <button class='button buttun-create-workspace'>
                    <img src='/svg/plus.svg' alt='add-workspace' /><span>Создайте рабочее пространство</span>
                </button>
            </li>
        </ol>
    </div>
</nav>