<div class='flex-column-centered flex-centered strach-layout gap-20 page__layout page__layout-nof-found'>
    <div class='font-size-36 font-weight-bold not-found__title'>Ошибка 403 :(</div>
    <div class='font-size-16 font-weight-500 not-found__message'>У вас нет доступа к данной странице</div>
    <div class='not-found__image'><img src='/img/BMO.png' alt='No Access' /></div>
    <button class='font-size-24 font-weight-500 border-radius-10 padding-5-10 btn btn-not-found'>{{this.redirectionPage}}</button>
</div>