<div class='flex-column-centered gap-10 sidebar-main-wrapper'>
    <div class='flex-column-centered gap-10 sidebar-main'>
        <div class='flex-column-centered gap-10 padding-0-10 sidebar-main__menu'>
            <button
                data-workspaces='user'
                class='font-size-16 font-weight-500 padding-5-10 border-radius-8 flex-row-centered gap-10 btn btn-sidebar-boards-menu btn-sidebar-boards-menu_selected'
            ><img class='box-24-24' src='/svg/board.svg' alt='boards' /><span>Ваши пространства</span>
            </button>
            <button
                data-workspaces='guest'
                class='font-size-16 font-weight-500 padding-5-10 border-radius-8 flex-row-centered gap-10 btn btn-sidebar-boards-menu'
            >
                <img class='box-24-24' src='/svg/files.svg' alt='templates' /><span>Гостевые
                    пространства</span>
            </button>
        </div>
        <div class='flex-column-centered gap-10 workspaces-list'>
            <span class='font-size-18 font-weight-500 workspaces-list__title'>Рабочие пространства</span>
            <div class='flex-centered workspaces-list__container-wrapper'>
                <ol class='flex-column-centered gap-10 workspaces-list__container'>
                    {{#each workspaceParagraphs as |workspacePargraph|}}
                        {{{workspacePargraph}}}
                    {{/each}}
                    <li class='workspaces-list__create-item'>
                        <button
                            class='border-radius-5 font-size-14 font-weight-500 flex-row-centered gap-10 btn btn-create-workspace'
                        >
                            <svg
                                width='17'
                                class='box-16-16 btn-create-workspace__image'
                                height='16'
                                viewBox='0 0 17 16'
                                fill='#b6c2cf'
                                xmlns='http://www.w3.org/2000/svg'
                            >
                                <path
                                    d='M8.88163 0.666626C9.15077 0.666626 9.40889 0.765398 9.5992 0.941214C9.78951 1.11703 9.89642 1.35549 9.89642 1.60413V7.22913H15.9852C16.2543 7.22913 16.5125 7.3279 16.7028 7.50371C16.8931 7.67953 17 7.91799 17 8.16663C17 8.41527 16.8931 8.65372 16.7028 8.82954C16.5125 9.00535 16.2543 9.10413 15.9852 9.10413H9.89642V14.7291C9.89642 14.9778 9.78951 15.2162 9.5992 15.392C9.40889 15.5679 9.15077 15.6666 8.88163 15.6666C8.61249 15.6666 8.35437 15.5679 8.16406 15.392C7.97375 15.2162 7.86683 14.9778 7.86683 14.7291V9.10413H1.77806C1.50892 9.10413 1.2508 9.00535 1.06049 8.82954C0.870176 8.65372 0.76326 8.41527 0.76326 8.16663C0.76326 7.91799 0.870176 7.67953 1.06049 7.50371C1.2508 7.3279 1.50892 7.22913 1.77806 7.22913H7.86683V1.60413C7.86683 1.35549 7.97375 1.11703 8.16406 0.941214C8.35437 0.765398 8.61249 0.666626 8.88163 0.666626Z'
                                    fill='#C0C9F4'
                                />
                            </svg>

                            <span class='flex-centered btn-create-workspace__title'>Создайте рабочее
                                пространство</span>
                        </button>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>