<div class='flex-column-centered gap-10 sidebar-main'>
    <div class='flex-column-centered gap-10 sidebar-main__menu'>
        <button
            class='font-size-18 font-weight-500 padding-5-10 border-raduis-8 btn btn-sidebar-boards-menu btn-sidebar-boards-menu_selected'
        ><img src='/svg/board.svg' alt='boards' /><span>Доски</span>
        </button>
        <button
            class='font-size-18 font-weight-500 padding-5-10 border-raduis-8 btn btn-sidebar-boards-menu'
        >
            <img src='/svg/files.svg' alt='templates' /><span>Шаблоны</span>
        </button>
    </div>
    <div class='flex-diraction-column workspaces-list'>
        <span class='font-size-18 font-weight-500 workspaces-list__title'>Рабочие пространства</span>
        <div class='workspaces-list__container-wrapper'>
            <ol class='workspaces-list__container'>
                <li class='workspaces-list__item-wrapper'>
                    <div class='flex-centered workspaces-list__item'><span
                            class='font-size-24 font-weight-bold workspace-logo'
                        >W</span></div>
                </li>
                <li class='workspaces-list__item'>
                    <button
                        class='font-size-16 font-weight-500 flex-row-centered gap-10 padding-0-10 btn btn-create-workspace'
                    >
                        <img
                            class='box-16-16 btn-create-workspace__image'
                            src='/svg/plus.svg'
                            alt='add-workspace'
                        /><span>Создайте рабочее пространство</span>
                    </button>
                </li>
            </ol>
        </div>
    </div>
</div>