<div class='container-profile'>
    <div class='container-profile__avatar'>
        <div class='profile-avatar'>
            <div class='profile-avatar__image'>
                <div class='profile-avatar__change-avatar'><div class='change-avatar__wrapper'>
                        <button class='change-avatar__button'>
                            <img
                                class='change-avatar__icon'
                                src='/svg/camera.svg'
                                alt='change-avatar'
                            /></button>
                    </div>
                </div>
                <img class='profile-user-image' src='{{this.avatar}}' alt='avatar' />
            </div>
            <div class='profile-avatar__user-reference'>
                <span class='user-reference__name-and-surname'>{{this.nameSurname}}</span>
            </div>
        </div>
    </div>
    <nav class='container-profile__navigation'>
        <a class='profile-navigation__user-information' href='/profile'>Профиль</a>
        <a class='profile-navigation__security' href='/security'>Безопасность</a>
    </nav>
    <div class='profile-separator-line'></div>
    <div class='container-profile__user-information'></div>
</div>