<div class='padding-10-20 flex-centered border-radius-10 error-message'>
    <span class='font-weight-bold font-size-18 error-message__text'>Что-то пошло не так.
        Перезагрузите страницу</span>
</div>