<a
    class='stratch-layout border-radius-5 link link-user-board'
    href='/worksace/{{this.workspaceId}}/board/{{this.boardId}}'
    style="background-image: url('../img/main_theme.jpg')"
>
    <span class='font-size-16 font-weight-500 workspace-board__title'>{{this.name}}</span>
</a>