<div
    data-checkitem_id='{{this.checkitem_id}}'
    data-checklist_id='{{this.checklist_id}}'
    class='padding-5-10 border-radius-5 flex-row-centered checkitem'
    draggable="true"
>
    {{#if this.checked}}
        <input
            type='checkbox'
            class='box-16-16 border-radius-5 input input-checkitem__checkbox'
            checked
        />
    {{else}}
        <input
            type='checkbox'
            class='box-16-16 border-radius-5 input input-checkitem__checkbox'
        />
    {{/if}}
    <div class='flex-centered checkitem__name'><span
            class='font-size-14 font-weight-500 checkitem-name__text'
        >{{this.name}}</span></div>
    <button class='box-12-12 border-radius-5 flex-centered btn btn-checkitem_delete'>
        <svg
            class='box-12-12'
            fill='var(--text-color-in-card)'
            width='800px'
            height='800px'
            viewBox='0 0 16 16'
            xmlns='http://www.w3.org/2000/svg'
        >
            <path
                d='M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z'
                fill-rule='evenodd'
            />
        </svg>
    </button>
</div>