.card-information__checkitems {
    width: 100%;
}

.checkitem {
    justify-content: space-between;
    min-height: 25px;
    background-color: var(--checkitem-background-color);
    width: 100%;
    position: relative;
}

.input-checkitem__checkbox {
    position: absolute;
    left: -30px;
}

.checkitem__name {
    align-self: flex-start;
    max-width: 90%;
}

.checkitem-name__text {
    color: var(--text-color-on-page);
    width: fit-content;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1px;
}

.btn-checkitem_delete {
    background: transparent;
}

.btn-checkitem_delete:hover {
    background: var(--delete-checklist-button-hover);
}

.checkitem-name__text::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}

.checkitem-name__text::-webkit-scrollbar-track {
    background: #00000026;
    border-radius: 3px;
    margin: 0px;
}

.checkitem-name__text::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.858);
    border-radius: 3px;
}
