<div class='flex-row-centered check-item'>
    <div class='box-24-24 flex-centered check-item__checkbox'>
        <input type='checkbox' class='strach-layout input input-check-item__checkbox' />
    </div>
    <div class='check-item__name'><span
            class='font-size-14 font-weight-500 check-item-name__text'
        ></span></div>
    <div class='check-item__delete'>
        <img class='check-item-delete__image' src='/svg/close.svg' alt='' /></div>
</div>