<div class='flex-column-centered strach-layout page__layout page__layout-main'>
    {{{header}}}
    <div class='flex-row-centered container-main'>
        {{{sidebar}}}
        <div class='flex-column-centered gap-50 user-workspaces'>
            <div class='flex-column-centered gap-20 workspaces'>
                {{{userWorkspaces}}}
            </div>
        </div>
    </div>
</div>