<div class='flex-column-centered strach-layout page__layout page__layout-main'>
    {{{header}}}
    <div class='flex-row-centered container-main'>
        {{{sidebar}}}
        {{{userWorkspaces}}}
    </div>
</div>