.page__layout-main {
    min-width: 320px;
    overflow-y: hidden;
}

.container-main {
    flex: 1 1;
    width: 100%;
    padding: 40px 0px;
    background-color: var(--main-page-background);
    align-items: flex-start;
}

.user-workspaces {
    width: 60%;
    padding: 0 0 0 40px;
    background-color: transparent;
    height: 100%;
    align-self: flex-start;
    position: relative;
}

.workspaces {
    position: absolute;
    top: 0;
    bottom: 30px;
    align-self: flex-start;
    align-items: flex-start;
    width: 95%;
    overflow-y: auto;
}
