.page__layout-board {
    min-width: 320px;
    position: relative;
}

.container-board {
    flex-grow: 1;
    width: 100%;
    background-size: cover;
}

.board {
    width: calc(100%-250px);
    height: 100%;
    flex-grow: 1;
}

.dragged {
    rotate: 10deg;
    opacity: 0.8;
    background: transparent;
}

.draggable {
    opacity: 0.5;
    box-shadow: inset 0 0 0 2px var(--text-color-on-page);
}
