<li data-card='{{this.ID}}' class='list__card-wrapper'>
    <div
        class='flex-column-centered gap-10 border-radius-8 padding-10-15 list__card'
        draggable='true'
    >
        <span class='font-size-16 font-weight-500 card-name'>{{this.name}}</span>
        {{#if this.tags}}
            {{{tags}}}
        {{/if}}
    </div>
</li>