<li data-card='{{this.ID}}' class='list__card-wrapper'>
    <div class='border-radius-8 padding-10-15 list__card'>
        <span class='font-size-16 font-weight-500 card-name'>{{this.name}}</span>
    </div>
</li>