.list__card-wrapper {
    width: 100%;
    display: block;
}

.list__card {
    width: 100%;
    background-color: var(--card-item-background-color);
}

.card-name {
    color: var(--text-color-on-page);
    width: 100%;
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.list-card__tags {
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
}

.list-card__tag {
    background-color: var(--tag-background-color);
}

.list-card-tag__text {
    color: var(--text-color-on-page);
}
