<a
    draggable='false'
    class='strach-layout link link-user-board'
    href='/workspace/{{this.workspaceId}}/board/{{this.boardId}}'
>
    <img
        class='strach-layout border-radius-5 link-user-board__image'
        src='/img/{{this.boardImg}}'
        alt=''
        draggable='false'
    />
    <span class='font-size-16 font-weight-500 workspace-board__title'>{{this.boardName}}</span>
</a>
