.board-history-wrapper {
    height: 100%;
}

.board-history__list {
    background-color: var(--card-background);
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.board-history__list::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.board-history__list::-webkit-scrollbar-track {
    background: #00000026;
    border-radius: 6px;
    margin: 0px;
}

.board-history__list::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.858);
    border-radius: 6px;
}

