<dialog id='board-history' class='board-history' aria-modal='false'>
    <div class='board-history-wrapper'>
        <ol class='padding-5-10 border-radius-5 board-history__list'></ol>
    </div>
</dialog>