<dialog id='add-board-user' class='border-radius-10 add-board-user' popover>
    <div class='flex-column-centered gap-15 add-board-user__content'>
        <span class='font-size-14 font-weight-500 add-board-user-content__title'>Добавить
            пользователя на доску</span>
        <input
            class='padding-0-10 border-radius-5 font-size-16 font-weight-500 input input-add-board-user-content__input'
            type='email'
            placeholder='email пользователя...'
        />
        <div class='flex-row-centered add-board-user-content__buttons'>
            <button
                data-action='add-user'
                class='font-size-15 font-weight-500 border-radius-5 padding-5-10 btn btn-add-board-user_add'
            >Добавить</button>
            <button
                data-action='delete-user'
                class='font-size-15 font-weight-500 border-radius-5 padding-5-10 btn btn-add-board-user_delete'
            >Удалить</button>
        </div></div>
</dialog>