<img class='page__image page__image_left' src='{{this.leftPicture}}.svg' />
<img class='page__image page__image_right' src='{{this.rightPicture}}.svg' />
<div class='authentication'>
    <h1 class='authentication__header'>
        <img src='logo.svg' />
        <span class='authentication__name'>Tabula</span>
    </h1>
</div>