/* cyrillic-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzjvWyNL4U.woff2)
        format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzjtGyNL4U.woff2)
        format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzjvGyNL4U.woff2)
        format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1Czjs2yNL4U.woff2)
        format('woff2');
    unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzjvmyNL4U.woff2)
        format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
        U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzjsGyN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
        U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKcg72j00.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKew72j00.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKcw72j00.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKfA72j00.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKcQ72j00.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
        U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
        U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjC3jvWyNL4U.woff2)
        format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjC3jtGyNL4U.woff2)
        format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjC3jvGyNL4U.woff2)
        format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjC3js2yNL4U.woff2)
        format('woff2');
    unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjC3jvmyNL4U.woff2)
        format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
        U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjC3jsGyN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
        U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjvWyNL4U.woff2)
        format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjtGyNL4U.woff2)
        format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjvGyNL4U.woff2)
        format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjs2yNL4U.woff2)
        format('woff2');
    unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjvmyNL4U.woff2)
        format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
        U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjsGyN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
        U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

html {
    width: 100%;
    height: 100%;
    color: var(--text-color-in-input);
}

body {
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
}

.card-modal {
    width: 770px;
    height: 1292px;
    background-color: #262d34;
    border-radius: 10px;
    position: relative;
}

.card-modal__exit-wrapper {
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 20px;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.card-modal__exit-wrapper:hover {
    background-color: rgba(156, 156, 156, 0.7);
}

.card-modal__exit {
    height: 20px;
    width: 20px;
}

.card-modal__card-layout {
    background-color: pink;
    width: 100%;
    height: 200px;
    position: relative;
    /* display: none; */
}

.card-layout__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-layout-change__wrapper {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    color: rgba(71, 74, 81, 1);
}

.card-layout-change__wrapper:hover {
    background-color: rgba(156, 156, 156, 0.7);
}

.card-layout-change__icon {
    height: 14px;
    width: 14px;
}

.card-modal__card-data {
    height: 1092px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-data__card-information {
    width: 542;
}

.card-information__name-and-tags-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-information__name-wrapper {
    display: flex;
    flex-direction: column;
    color: #c0c9f4;
    justify-content: space-between;
    height: 50px;
    position: relative;
}

.card-information__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: -40px;
}

.card-information__card-name {
    font-size: 16px;
}

.card-information__card-list-name {
    font-size: 12px;
}

.card-information__tags-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-information__tag-actions-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.card-information__tags-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 200px;
}

.tags-list__tag {
    height: 30px;
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 5px;
    max-width: 100px;
    min-width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tags-list__tag_green {
    background-color: green;
}

.tags-list__tag_orange {
    background-color: orange;
}

.tags-list__tag_brown {
    background-color: brown;
}

.tags-list__tag_black {
    background-color: black;
}

.tags-list__add-tag {
    height: 30px;
    width: 30px;
    background-color: #414b56;
    border-radius: 5px;
    padding: 7px;
}

.tags-list__add-tag:hover,
.tags-list__tag:hover,
.card-settings__action:hover,
.user-actions__action:hover {
    opacity: 0.7;
}

.tags-list__add-tag img {
    width: 15px;
    height: 15px;
}

.card-information__description-wrapper,
.card-information__files-wrapper {
    display: flex;
    flex-direction: column;
    color: #c0c9f4;
    justify-content: space-between;
    position: relative;
    margin-top: 40px;
}

.card-information__card-description {
    background-color: #414b56;
    margin-top: 20px;
    border-radius: 10px;
    width: 460px;
    height: 80px;
    resize: none;
    padding: 5px;
    color: var(--text-color-in-input);
    font-family: Ubuntu;
}

.card-information__card-description::placeholder {
    color: #c0c9f4;
    font-family: Ubuntu;
}

.card-information__buttons-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 43%;
    align-items: center;
}

.card-information__button-save {
    background-color: #7ba4f3;
    width: 96px;
    height: 35px;
    border-radius: 5px;
    color: #0c1116;
    font-size: 16px;
    cursor: pointer;
}

.card-information__button-cancel {
    background-color: #414b56;
    width: 85px;
    height: 35px;
    border-radius: 5px;
    color: #0c1116;
    font-size: 16px;
    cursor: pointer;
}

.card-information__file-image {
    width: 121px;
    height: 91px;
    border-radius: 5px;
    object-fit: cover;
}

.card-information__image-text-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    width: 90%;
}

.card-information__file-description-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-information__file-name {
    font-size: 14px;
    font-weight: bold;
}

.card-information__file-added-date {
    font-size: 14px;
    color: #c0c9f4;
}

.card-information__file-actions {
    font-size: 12px;
}

.file-actions__comment,
.file-actions__update,
.file-actions__delete {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.card-information__remove-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px;
    border-radius: 10px;
    width: 55%;
    font-size: 12px;
    margin-left: -5px;
    cursor: pointer;
}

.card-information__remove-layout:hover {
    background-color: rgba(156, 156, 156, 0.7);
}

.remove-layout__icon {
    margin-top: 2px;
    width: 10px;
    height: 10px;
}

.card-information__comments-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
}

.card-information__comments-and-hide-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.card-information__hide-comments {
    background-color: #414b56;
    width: 182px;
    height: 25px;
    border-radius: 5px;
    color: #c0c9f4;
    cursor: pointer;
}

.card-information__comment {
    background-color: #070f17;
    border-radius: 10px;
    width: 460px;
    height: 40px;
    resize: none;
    padding: 5px;
    color: var(--text-color-in-input);
    font-family: Ubuntu;
}

.card-inforamtion__comments-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    margin-left: -45px;
}

.card-inforamtion__comment-wrapper {
    position: relative;
    margin-top: 20px;
}

.card-information__button-like {
    background-color: #070f17;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 8px;
    cursor: pointer;
}

.card-information__reply {
    color: #c0c9f4;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.button-like__icon {
    width: 12px;
    height: 12px;
}

.button-like__count {
    color: var(--text-color-in-input);
    font-size: 16px;
}

.card-information__comment-actions-wrapper {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.card-data__card-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.card-actions__card-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.card-actions__user-actions {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
}

.card-settings__action,
.user-actions__action {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 155px;
    height: 50px;
    background-color: #414b56;
    padding: 0 10px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.action-logo {
    width: 16px;
    height: 16px;
}

.action-name {
    font-size: 16px;
    margin-left: 5px;
}
