* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  height: 100vh;
}

.page {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161a1d;
  width: 100%;
  height: 7rem;
}

.header__side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
}

.header__side_left {
  padding-left: 3.5rem;
  width: 50%;
}

.header__side_right {
  width: 25%;
  padding-right: 3rem;
}

.header__side div {
  height: 100%;
  display: inline;
}

.header__side p {
  display: inline;
  color: #fff;
}

.logo-wrapper a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-wrapper__logo {
  width: 3rem;
  height: 3rem;
}

.logo-wrapper__tabula {
  font-size: 4rem;
}

.icon {
  width: 3.2rem;
  height: 2rem;
}

.ring-wrapper img,
.avatar-wrapper img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-top: 0.5rem;
}

.create-button {
  width: 9.6rem;
  height: 4rem;
  border-radius: 5px;
  font-size: 1.8rem;
  background-color: #7ba4f3;
}

.input-wrapper input {
  background-color: #d9dcf8;
  width: 32rem;
  height: 4rem;
  font-size: 2.4rem;
  padding-left: 4rem;
  border-radius: 5px;
  color: #4c4747;
}

.content {
  display: flex;
  flex-direction: row;
  background-image: url("../img/6903344.jpg");
}

nav {
  width: 36rem;
  background-color: rgba(22, 26, 29, 0.89);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.desk-description {
  min-height: 10rem;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 2.8rem;
  border-top: 1px solid #868181;
  border-bottom: 1px solid #868181;
}

.new-desk {
  width: 3.6rem;
  height: 4rem;
  border-radius: 5px;
  background-color: #161a1d;
  color: #fff;
}

.desk-description__owner-avatar {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.desk-description__desk-name {
  width: 22rem;
}

.settings {
  height: 12.5rem;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.user-desks,
.participants,
.project-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.user-desks__title,
.project-settings__title,
.participants__title {
  width: 22rem;
  font-size: 2.8rem;
}

.settings div .text-icon-wrapper img {
  width: 2rem;
  height: 2rem;
}

.settings div .text-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.text-icon-wrapper {
  width: 26rem;
}

.participants__add-new {
  color: #fff;
  font-size: 2.8rem;
}

.participants__add-new img {
  width: 1.8rem;
  height: 1.8rem;
}

.my-desks__title {
  color: #fff;
  font-size: 3.2rem;
}

.my-desks__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.my-desks {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  height: 70rem;
  border-bottom: 1px solid #868181;
}
.my-desks__title-wrapper img {
  width: 1.8rem;
  height: 1.8rem;
}

.desk-list__element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
}

.desk__background {
  width: 4rem;
  height: 2rem;
}

.desk__name {
  color: #fff;
  font-size: 2.4rem;
  width: 24rem;
}

.subscribe {
  height: 9.5rem;
  padding: 2rem;
}

.subscribe-button {
  height: 5.5rem;
  width: 32rem;
  border-radius: 10px;
  background: linear-gradient(97.78deg, #c424de, #7ba4f3);
  color: #fff;
  font-size: 2.4rem;
}

.workspace {
  display: flex;
  flex-direction: column;
}

.project-utils {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  width: 188.28rem;
}

.project-utils__side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 3rem;
}

.project-utils__side_left {
  width: 90rem;
}

.project-title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 27rem;
}

.project-title-wrapper img {
  width: 2.4rem;
  height: 2.4rem;
}

.for-project__title {
  color: black;
  font-size: 3.2rem;
}

.for-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90rem;
}

.info-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.info-wrapper p {
  width: 9.6rem;
  font-size: 2rem;
}

.info-wrapper img {
  width: 2rem;
  height: 2rem;
}

.for-project__info {
  background-color: #10102b;
  width: 13.6rem;
  height: 4.2rem;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
}
