* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

html {
  font-size: 10px;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__background {
  position: absolute;
  background-color: #37426d;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow-y: hidden;
}

.container__image-right {
  position: absolute;
  bottom: 0;
  right: 2rem;
  width: fit-content;
  height: fit-content;
}

.container__image-left {
  position: absolute;
  bottom: 0;
  left: 10rem;
  width: fit-content;
  height: fit-content;
}

.container__image-right img {
  height: 38rem;
  width: 60rem;

}

.container__image-left img {
  height: 45rem;
  width: 55rem;
}
.container__signup-location {
  margin-top: 10rem;
  justify-self: center;
}

.container__signup-location__header {
  font-size: 6.4rem;
  color: #fff;
  text-shadow: #000 0 0.5rem 0.4rem;
  display: flex;
}

.container__signup-location__header img {
  padding-right: 1rem;
}

.container__signup-location__header-registration {
  color: #fff;
}

.container__signup-location__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.href-registration {
  margin-top: 3.5rem;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}

.container__signup-location__header-registration {
  text-align: center;
  font-size: 2.8rem;
  margin-top: 2rem;
}

.container__signup-location__password,
.container__signup-location__repeat-password,
.container__signup-location__email {
  margin-top: 3.5rem;
  color: #b0b0b0;
  background: transparent;
  height: 3rem;
  width: 30rem;
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 3.5rem;
  font-size: 2rem;
  outline: none;
  position: relative;
}

.container__signup-location__password::before,
.container__signup-location__repeat-password::before,
.container__signup-location__email::before {
  background-image: url("../svg/email.svg");
}

.container__signup-location__password::placeholder,
.container__signup-location__repeat-password::placeholder,
.container__signup-location__email::placeholder {
  color: #b0b0b0;
  font-size: 2rem;
}

.button-registration {
  background-color: #000;
  height: 4.5rem;
  width: 25rem;
  border-radius: 10px;
  margin-top: 2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
