* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

html {
    height: 100%;
    width: 100%;
}

.popover-menu {
    z-index: 10;
    width: 230px;
    background-color: rgba(22, 26, 29,1);
    top: 70px;
    left: calc(100% - 230px - 10px);
    border-radius: 10px;
    overflow: hidden;
    color: var(--text-color-on-page);
}

.popover-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.popover-menu-wrapper {
    padding: 15px;
    gap: 15px;
}

.popover-menu__user,
.popover-menu__navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
    color: var(--text-color-on-page);
}

.popover-menu__menu-name {
    font-size: 15px;
    margin-bottom: 4px;
    font-weight: 500;
    align-self: flex-start;
}

.popover-menu__user-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.popover-menu__user-avatar {
    width: 35px;
    height: 35px;
}

.popover-menu__avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.popover-menu__user-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: calc(100% - 35px);
    padding-left: 10px;
    gap: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-information__nickname {
    font-size: 14px;
    font-weight: 400;
}

.user-information__email {
    font-size: 14px;
    font-weight: 100;
}

.navigation__item {
    height: 30px;
    font-size: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    padding: 15px 10px;
}

.navigation__item:hover {
    background-color: rgba(38, 44, 49,1);
}

.profile-link {
    outline: none;
    text-decoration: none;
    color: var(--text-color-on-page);
}

.btn-profile {
    background-color: transparent;
    color: var(--text-color-on-page);
    font-size: 15px;
}

.popover-menu__underline {
    border: solid 1px rgba(52, 60, 66,1);
    width: 100%;
}

.popover-menu__log-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.modal-upload-avatar {
    top: 15%;
    left: calc(50% - 200px);
    width: 400px;
    border-radius: 8px;
    background-color: #f4f4f6;
}

.upload-avatar-modal__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    gap: 30px;
}

.upload-avatar-modal__title {
    align-self: start;
    font-size: 20px;
    font-weight: 500;
    color: #747474;
}

.upload-avatar-modal__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 220px;
    height: 220px;
    border: 2px dashed #c7c7c7;
    border-radius: 50%;
    padding: 20px;
}

.upload-avatar-modal__picture {
    height: 65%;
    width: 65%;
    object-fit: contain;
}

.upload-avatar-modal__alternative {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-avatar-modal-image__message {
    font-size: 14px;
    text-align: center;
    width: 90%;
    color: #747474;
}

.form-upload-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.btn-upload-avatar {
    min-width: 140px;
    height: 35px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #7ba4f3;
    border: none;
}

.input-upload-avatar {
    display: none;
}

.upload-avatar-modal__buttons {
    margin-top: 25%;
    align-self: flex-end;
    display: flex;
    align-items: end;
    flex-direction: row;
    gap: 10px;
}

.upload-avatar-modal__button {
    min-width: 80px;
    height: 35px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    border: none;
}

.upload-avatar-modal__button_upload {
    background-color: #7ba4f3;
}

.upload-avatar-modal__button_cancel {
    background-color: #cbcaca;
}

.upload-avatar-modal__undo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 5%;
    top: 5%;
}

.btn-revert-change-avatar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: transparent;
}

.btn-revert-change-avatar:hover {
    background-color: #c7c7c797;
}

.upload-avatar-modal__undo img {
    width: 50%;
    height: 50%;
}

.upload-avatar-modal__avatar-preview {
    position: relative;
    display: none;
}

.avatar-preview__image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
