<div class='box-32-32 flex-row-centered card-member'>
    <button class='strach-layout flex-centered btn btn-card-member' data-user='{{this.ID}}'>
        <img class='strach-layout card-member__avatar' src='/img/{{this.avatar}}' alt='avatar' />
    </button>
</div>