<iframe class='iframe' src='{{this.url}}' id='{{this.id}}' frameborder='0'>
    <button class='box-16-16 btn btn-close-iframe'><img
            class='btn-close-iframe__image'
            src='/svg/close.svg'
            alt='close'
        /></button>
</iframe>