<iframe class='iframe' src='{{this.url}}' id='{{this.id}}' frameborder='0'>
    <button class='box-16-16 border-radius-5 btn btn-close-iframe'><img
            class='strach-layout btn-close-iframe__image'
            src='/svg/close.svg'
            alt='close'
        /></button>
</iframe>