@media screen and (min-width: 1350px) {
    .search-input__text:focus-within {
        width: 500px;
    }
}

@media screen and (max-width: 1200px) {
    .search-input {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .header-menu__paragraph:nth-of-type(3) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header-menu__paragraph {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .header-menu__logo {
        display: none;
    }
}

.header {
    background-color: var(--header-background);
    width: 100%;
    height: 65px;
}

.header-menu__logo {
    height: 100%;
}

.link-logo {
    color: var(--text-color-on-page);
}

.logo-wrapper-image {
    padding-top: 5px;
}

.logo-wrapper__image path {
    fill: var(--text-color-on-page);
}

.logo-wrapper__title {
    font-weight: bold;
}

.header__menu {
    align-self: flex-start;
    height: 100%;
}

.header-menu__paragraph {
    color: var(--text-color-on-page);
}

.paragraph__image {
    margin-left: 5px;
}

.header__search {
    height: 100%;
}

.menu__btn-create {
    border: none;
}

.btn-avatar,
.btn-notification {
    background-color: transparent;
    transition: ease-in-out 0.2s ease-in-out;
}

.notification__image {
    rotate: 20deg;
}

.search-input {
    background-color: var(--search-background-color);
    height: 80%;
    z-index: 10;
    border: 2px solid var(--text-color-in-search);
}

.search-input__text {
    background-color: transparent;
    outline: none;
    border: none;
    transition: ease-in 0.15s;
    color: var(--text-color-in-search);
}

.search-input__text::placeholder {
    color: var(--text-color-in-search);
}
