.card-date::backdrop {
    background: transparent;
}

.card-date {
    background-color: var(--card-background-popups);
    height: 280px;
    width: 250px;
}

.card-date__content {
    width: 100%;
}

.card-date__title {
    color: var(--text-color-card-popop-actions);
}

.start-date, .end-date {
    align-items: flex-start;
}

.start-date__title,
.end-date__title {
    align-items: flex-start;
    color: var(--text-color-card-popop-actions);
    margin-left: 8px;
}

.start-date__date,
.end-date__date {
    color: var(--text-color-card-popop-actions);
}

.card-date__buttons {
    margin-top: 10px;
    width: 90%;
}

.btn-card-date_save,
.btn-card-date_delete {
    width: 100%;
    color: var(--text-color-card-action-buttons);
}

.btn-card-date_save {
    background-color: var(--action-button-color);
}
.btn-card-date_delete {
    background-color: var(--btn-delete-background);
}
