.card-information__file-wrapper {
    width: 100%;
    align-items: flex-start;
    padding: 5px 10px 5px 0px;
}

.card-information__file-image {
    max-width: 150px;
    min-width: 150px;
    height: 100px;
    object-fit: cover;
}

.file-wrapper__filename {
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-information__file-wrapper:hover {
    background-color: var(--file-background-color-hover);
}

.card-information__file-description-wrapper {
    align-items: flex-start;
    flex-grow: 1;
}

.card-information__filename {
    max-width: 240px;
    overflow-x: auto;
    overflow-y: hidden;
    text-wrap: nowrap;
}

.card-information__filename ::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

.card-information__filename ::-webkit-scrollbar-track {
    background: #00000026;
    border-radius: 2px;
    margin: 0px;
}

.card-information__filename ::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.858);
    border-radius: 2px;
}

.card-information__file-added-date {
    color: var(--text-color-in-card);
}

.file-wrapper__background {
    width: 150px;
    height: 100px;
    background-color: var(--file-background-color);
    outline: none;
    text-decoration: none;
    color: var(--text-color-in-card);
}

.card-file-download {
    color: var(--text-color-in-card);
}

.btn-file-actions_delete {
    background-color: var(--btn-file-delete);
    color: var(--text-color-in-card);
}

@media screen and (max-width: 670px) {
    .card-information__file-wrapper {
        flex-direction: column;
    }
}
