.card-modal {
    width: 800px;
    background-color: #262d34;
    padding: 20px 20px 40px 20px;
}

.btn-card-modal__exit-wrapper {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    background-color: transparent;
    outline: none;
}

.btn-card-modal__exit-wrapper:hover {
    background-color: var(--btn-close-card-background);
}

.card-modal__card-data {
    padding: 30px 20px 0px 10px;
    align-items: flex-start;
}
