<a
    href='/workspace/{{this.workspaceID}}/board/{{this.boardID}}'
    class='flex-row-centered border-radius-5 gap-10 padding-5-10 link link-sidebar-boards-list__board'
>
    <img
        class='border-radius-5 sidebar-boards-list__board-image'
        src='/img/{{this.thumbnail_url}}'
        alt='board-image'
    />
    <span class='sidebar-boards-list__board-name'>{{this.name}}</span>
</a>