<div class='flex-row-centered gap-10 sidebar-boards-list__board'>
    <img
        class='border-radius-5 sidebar-boards-list__board-image'
        src='/img/{{this.thumbnail_url}}'
        alt='board-image'
    />
    <span class='sidebar-boards-list__board-name'>{{this.name}}</span>
</div>