<nav class="sidebar">
    <div>
        <ul class="sidebar__menu">
            <li class="menu-item selected">
                <a disabled><img src="board.svg" alt="" /><span>Доски</span>
                </a>
            </li>
            <li class="menu-item">
                <a disabled>
                    <img src="files.svg" alt="" /><span>Шаблоны</span>
                </a>
            </li>
            <li class="menu-item">
                <a disabled>
                    <img src="clipboard-pulse.svg" alt="" /><span>Главная
                        страница</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="create-workspace">
        <ul>
            <div class="create-workspace__title">
                <span>Рабочие пространства</span>
            </div>
            <button class="create-workspace__button">
                <img src="plus.svg" alt="" /><span>Создайте рабочее пространство</span>
            </button>
        </ul>
    </div>
</nav>