<li data-entity='list' class='border-radius-10 add-new-list'>
    <div class='flex-start border-radius-10 add-new-list__container'>
        <button
            class='strach-layout flex-start padding-0-10 gap-10 btn btn-add-new-list add-new-entity'
        >
            <img class='box-16-16 add-list__image' src='/svg/plus.svg' alt='add-card' />
            <span class='font-size-20 font-weight-500 add-card__title'>Добавить список</span>
        </button>
    </div>
</li>
<li data-entity='list' class='border-radius-10 new-entity new-list' style='display: none'>
    <form
        class='flex-column-centered gap-10 border-radius-10 padding-5-10 form form-new-list__container'
        id='create-list'
        action='/list/create/'
        method='POST'
    >
        <input
            maxlength='32'
            type='text'
            class='font-size-16 font-weght-200 border-radius-5 padding-5-10 input input-new-list-name'
            placeholder='Название списка'
            value=''
            required
        />
        <div class='flex-row-centered gap-10 new-list__buttons'>
            <button
                class='border-radius-5 font-size-16 font-weight-500 flex-centered gap-10 padding-0-10 btn btn-create-list btn-create_confirm'
                disabled
            >
                Добавить список
            </button>
            <button
                class='box-32-32 flex-centered border-radius-5 gap-10 btn btn-create-list btn-create_cancel'
            >
                <svg
                    class='btn-add-list-cancel__image border-radius-5 box-16-16'
                    fill='#c0c9f4'
                    width='800px'
                    height='800px'
                    viewBox='0 0 16 16'
                    xmlns='http://www.w3.org/2000/svg'
                >
                    <path
                        d='M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z'
                        fill-rule='evenodd'
                    />
                </svg></button>
        </div>
    </form>
</li>