.list-settings {
    min-width: 140px;
    background-color: var(--pop-up-background-color);
}

.btn-change-list-name,
.btn-delete-list {
    width: 100%;
    color: var(--text-color-on-page);
    background-color: var(--pop-up-background-color);
}

.btn-change-list-name:hover,
.btn-delete-list:hover {
    background-color: var(--hover-navigation-paragraph);
}
