<div class='flex-column-centered strach-layout page__layout page__layout-sign'>
    <img class='page__image page__image_left' src='/svg/undraw_creative_woman.svg' />
    <img class='page__image page__image_right' src='/svg/undraw_meet_the_team.svg' />
    <div class='flex-column-centered gap-30 conteiner-sign'>
        <h1 class='flex-centered flex-row-centered conteiner-sign__header'>
            <img class='conteiner-sign-header__logo' src='/svg/logo.svg' />
            <span class='conteiner-sign-header__title'>Tabula</span>
        </h1>
        {{{form}}}
        {{{forgottenPasswordLink}}}
        {{{signupLink}}}
        {{{loginBtn}}}
    </div>
</div>