.card-information__comment {
    position: relative;
    width: 100%;
    align-items: flex-start;
}

.card-information__comment-avatar {
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: -40px;
}

.card-information__user-information {
    color: var(--text-color-in-card);
    margin-left: 10px;
}

.card-information__comment-text {
    background-color: var(--comment-background-color);
    width: 100%;
    min-height: 40px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    outline: none;
    color: var(--text-color-in-card);
}

.card-information__comment-text::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.card-information__comment-text::-webkit-scrollbar-track {
    background: #00000026;
    border-radius: 4px;
    margin: 5px;
}

.card-information__comment-text::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.858);
    border-radius: 4px;
}
