<div class='flex-column-centered gap-5 card-information__comment'>
    <img
        src='/img/{{this.avatar}}'
        alt='avatar'
        class='box-32-32 card-information__comment-avatar'
    />
    <span
        class='font-size-12 font-weight-500 card-information__user-information'
    >{{this.email}}</span>
    <span
        class='font-size-12-font-weight-200 padding-5-10 border-radius-10 card-information__comment-text'
    >{{this.comment}}</span>
</div>