<form
    id='form-sign'
    class='form form-sign'
    action='/user/login/'
    method='POST'
    enctype='application/x-www-form-urlencoded'
>
    {{#each inputs as |input|}}
        {{{input}}}
    {{/each}}
</form>