<div class='not-found'>
    <div class='not-found__title'>Ошибка 404 :(</div>
    <div class='not-found__message'>Такой страницы не существует</div>
    <div class='not-found__image'><img src='BMO.png' alt='Not found' /></div>
    <button class='button button-not-found'>{{this.redirectTargetName}}</button>
</div>