<dialog id='add-card-user' class='padding-10-20 border-radius-10 add-card-user'>
    <div class='flex-column-centered gap-15 add-card-user__content'>
        <span class='font-size-16 font-weight-500 add-card-user__title'>
            Добавить участника
        </span>
        <input
            placeholder='Введите email участника...'
            type='text'
            class='border-radius-5 padding-0-10 font-size-16 font-weight-500 input input-add-card-user__search'
        />
        <div class='flex-column-centered gap-10 add-card-user__users'>
        </div>
        {{! <button class="border-radius-5 padding-5-10 font-size-16 font-weight-500 add-card-user__btn_save">Сохранить</button> }}
    </div>
</dialog>