<dialog id='add-card-user' class='border-radius-10 add-card-user' popover>
    <div class='flex-column-centered gap-15 add-card-user__content'>
        <span class='font-size-16 font-weight-500 add-card-user__title'>
            Добавить участника
        </span>
        <input type='text' class='input input-add-card-user__search' />
        <div class='flex-column-centered gap-10 add-card-user__users'>
        </div>
    </div>
</dialog>