 <div class="flex-column-centered gap-40 user-workspaces">
            <div class="flex-column-centered flex-centered gap-20 workspaces">
                <span class="font-size-22 font-weight-bold workspaces__title"
                    >ВАШИ РАБОЧИЕ ПРОСТРАНСТВА</span
                >
                <div class="flex-column-centered flex-centered workspaces__container">
                    <div class="flex-column-centered gap-20 workspace">
                        <span class="font-size-18 font-weight-500 padding-0-10 workspace__title"
                            >Workspace <span class="font-weight-bold">123</span></span
                        >
                        <div class="flex-row-centered gap-10 workspace__boards">
                            <a
                                class="stratch-layout border-radius-5 link link-user-board"
                                href=""
                                style="background-image: url('../img/main_theme.jpg')"
                            >
                                <span class="font-size-16 font-weight-500 workspace-board__title"
                                    >Проект 1</span
                                >
                            </a>
                            <button
                                class="stratch-layout border-radius-5 flex-centered btn btn-create-board"
                                href=""
                            >
                                <span
                                    class="font-size-16 font-weight-500 workspace-board__create-title"
                                    >Создать доску</span
                                >
                            </button>
                        </div>
                    </div>
                </div>
            </div>