.user-workspaces {
    width: 60%;
    padding: 0 40px;
    background-color: transparent;
    flex: 1 1;
    align-self: flex-start;
}

.workspaces {
    align-self: flex-start;
    align-items: flex-start;
    width: 100%;
}

.btn-create-first-workspace {
    color: var(--action-button-color);
    background-color: transparent;
}