<div class='flex-column-centered gap-50 user-workspaces'>
    <div class='flex-column-centered gap-20 workspaces'>
        {{#if this.userWorkspaces}}
            <span class='font-size-22 font-weight-bold workspaces__title'>ВАШИ РАБОЧИЕ ПРОСТРАНСТВА</span>
            <div class='flex-column-centered flex-centered gap-20 workspaces__container'>
                {{#each userWorkspaces as |workspace|}}
                    {{{workspace}}}
                {{/each}}
            </div>
        {{else}}
            <div class='flex-row-centered'>
                <span class='font-size-16 font-weight-200 workspaces__title'>У вас пока что нет ни
                    одного рабочего пространства.&nbsp</span>
                <button class='font-size-16 font-weight-200 btn btn-create-first-workspace'>Создать
                    новое рабочее пространство</button>
            </div>
        {{/if}}
        {{#if this.guestWorkspaces}}
            <span class='font-size-22 font-weight-bold workspaces__title'>ГОСТЕВЫЕ РАБОЧИЕ
                ПРОСТРАНСТВА</span>
            <div class='flex-column-centered flex-centered gap-20 workspaces__container'>
                {{#each guestWorkspaces as |workspace|}}
                    {{{workspace}}}
                {{/each}}
            </div>
        {{else}}
            <div class='flex-row-centered gap-5'>
                <span class='font-size-16 font-weight-200 workspaces__title'>Вы пока что не
                    приглашены ни в одно рабочее пространство</span>
            </div>
        {{/if}}
    </div>
</div>