<div class='flex-column-centered flex-centered strach-layout gap-20 page__layout page__layout-nof-found'>
    <div class='font-size-36 font-weight-bold not-found__title'>Нет подключения к интернету &nbsp;:(</div>
    <div class='font-size-16 font-weight-500 not-found__message'>Проверьте соединение и перезагрузите страницу</div>
</div>