<div class='sidebar'>
    <div class='sidebar__workspace-information'>
        <img class='sidebar__user-avatar' src='{{this.userAvatar}}' alt='avatar' />
        <span class='sidebar__workspace-name'>{{this.workspaceName}}</span>
    </div>
    <div class='sidebar__actions'>
        <div class='sidebar__board-action'>
            <img class='board-action__image' src='clipboard.svg' alt='board-action-image' /><span
                class='board-action__name'
            >Доски</span>
        </div>
        <div class='sidebar__board-members'>
            <div class='board-action__main-action'>
                <img class='board-action__image' src='person.svg' alt='board-action-image' /><span
                    class='board-action__name'
                >Участники</span>
            </div>
            <div class='board-action__additional-action'>
                <img class='additional-action__image' src='plus.svg' alt='additional-action' />
            </div>
        </div>
        <div class='sidebar__board-settings'>
            <img class='board-action__image' src='gear.svg' alt='board-action-image' /><span
                class='board-action__name'
            >Настройки проекта</span>
        </div>
    </div>
    <div class='sidebar__boards-list'>
        <div class='sidebar-boards-list__action'>
            <span class='sidebar-boards-list__action-title'>Мои доски</span><img
                class='sidebar-boards-list__action-image'
                src='plus.svg'
                alt='additional-action'
            />
        </div>
        {{#each this.boards}}
            <div class='sidebar-boards-list__board'>
                <img
                    class='sidebar-boards-list__board-image'
                    src='{{thumbnail_url}}'
                    alt='board-image'
                />
                <span class='sidebar-boards-list__board-name'>{{name}}</span>
            </div>
        {{/each}}
    </div>
</div>