<dialog
    id='workspace-settings'
    class='border-radius-10 workspace-settings'
    aria-modal='false'
    data-workspace=''
    style='top: 0px; left: 0px'
    popover
>
    <div class='flex-column-centered gap-5 padding-10-15 workspace-settings-wrapper'>
        <button
            class='border-radius-5 flex-centered font-size-16 font-weight-bold border-radius-5 padding-5-10 btn btn-change-workspace-name'
        >
            Изменить название
        </button>
        <button
            class='border-radius-5 flex-centered font-size-16 font-weight-bold padding-5-10 btn btn-delete-workspace'
        >
            Удалить
        </button>
    </div>
</dialog>