@media screen and (max-width: 400px) {
    .input-profile {
        background: #070f17;
        color: #b0b0b0;
        padding-left: 5px;
        height: 30px;
        width: 250px;
        font-size: 16px;
        outline: none;
        position: relative;
        color: var(--text-color-on-page) !important;
    }

    .profile-avatar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .profile-avatar__image {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
        position: relative;
        z-index: 0;
    }

    .user-reference__name-and-surname {
        font-size: 22px;
        font-weight: 500;
        color: var(--text-color-on-page);
    }

    .user-reference__email {
        font-size: 16px;
        font-weight: 200;
        color: var(--text-color-on-page);
        text-align: center;
    }

    .textarea-profile {
        padding-top: 5px;
        padding-left: 5px;
        font-size: 16px;
        resize: none;
        background: #070f17;
        color: #b0b0b0;
        height: 100px;
        width: 250px;
        color: var(--text-color-on-page);
        outline: none;
    }

    .container-profile__navigation {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 25px;
        justify-content: center;
        margin-top: 20px;
    }

    .profile-avatar__user-reference {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media screen and (min-width: 400px) {
    .container-profile__navigation {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .input-profile {
        background: #070f17;
        color: #b0b0b0;
        padding-left: 5px;
        height: 35px;
        width: 350px;
        font-size: 16px;
        outline: none;
        position: relative;
        color: var(--text-color-on-page) !important;
    }

    .profile-avatar {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .profile-avatar__image {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        object-fit: cover;
        position: relative;
        z-index: 0;
    }

    .user-reference__name-and-surname {
        font-size: 25px;
        font-weight: 500;
        color: var(--text-color-on-page);
    }

    .user-reference__email {
        font-size: 20px;
        font-weight: 200;
        color: var(--text-color-on-page);
    }

    .textarea-profile {
        padding-top: 5px;
        padding-left: 5px;
        font-size: 16px;
        resize: none;
        background: #070f17;
        color: #b0b0b0;
        height: 200px;
        width: 350px;
        color: var(--text-color-on-page);
        outline: none;
    }
}

.profile-link {
    outline: none;
    text-decoration: none;
    color: var(--text-color-on-page);
}

.btn-profile {
    background-color: transparent;
    color: var(--text-color-on-page);
}

.page__layout-profile {
    background-color: #1c2127;
    width: 100%;
    height: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.container-profile {
    padding: 0 3%;
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container-profile__avatar {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-avatar__change-avatar {
    position: absolute;
    width: 100%;
    height: 100%;
}

.profile-avatar__image:hover .profile-user-image {
    opacity: 0.6;
}

.profile-avatar__image:hover .change-avatar__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.change-avatar__wrapper {
    display: none;
}

.change-avatar__button {
    width: 32px;
    height: 32px;
    transition: ease-in-out 0.2s ease-in-out;
    background-color: rgba(13, 18, 23, 80%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.change-avatar__icon {
    scale: 0.8;
}

.change-avatar__button:active {
    scale: 0.9;
}

.popover-change-avatar {
    width: 230px;
    background-color: rgba(22, 26, 29, 1);
    top: 165px;
    left: calc(50% - 220px);
    border-radius: 10px;
    overflow: hidden;
    color: var(--text-color-on-page);
}

.popover-change-avatar-wrapper {
    padding: 5px;
    gap: 5px;
}

.user-reference__nickname {
    font-size: 20px;
}

.profile-user-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profile-navigation__user-information,
.profile-navigation__security {
    color: var(--text-color-on-page);
    font-size: 16px;
    padding-bottom: 5px;
    outline: none;
    text-decoration: none;
}

.profile-navigation_active {
    font-weight: bold;
    color: #7ba4f3;
    border-bottom: 2px solid #7ba4f3;
    font-weight: bold;
}

.profile-separator-line {
    background-color: var(--text-color-on-page);
    height: 1px;
    opacity: 50%;
    width: 100%;
}

.form-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    margin-top: 30px;
}

.form__input-profile,
.form__textarea-profile {
    border: 2px solid #55575f;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10px;
    background: #070f17;
}

.form__input-profile:focus-within,
.form__textarea-profile:focus-within {
    border: 2px solid #7ba4f3;
}

.form__input_disable {
    background-color: #243546 !important;
    opacity: 65%;
}

.input_disable {
    cursor: default;
    background-color: #243546 !important;
}

.btn-profile-save {
    min-width: 140px;
    height: 35px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #7ba4f3;
    border: none;
}

.profile-avatar__user-reference {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
