.content {
    display: flex;
    flex-direction: row;
    background-color: #1c2127;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

main {
    position: relative;
    outline: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.sticky-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    height: calc(100vh - 50px);
}

// sidebar


// -------------------

.content__header-name {
    align-items: center;
    color: #fff;
    display: flex;
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content__description {
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
}

.button__create-workspace {
    border: none;
    box-shadow: none;
    background-color: transparent;
    text-decoration: none;
    color: #0c66e4;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
}

.content__boards-list {
    list-style: none;
    overflow-y: auto;
}

.boards-logo {
    display: flex;
    flex-wrap: wrap;
}

.workspace-card__desctiption {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 10px;
}

.workspace-owner__username {
    margin-left: 10px;
}

.workspace-card__desctiption img {
    width: 20px;
    height: 20px;
}

.username-workspace-owner {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
}

.board-title__logo {
    position: relative;
    background-size: cover;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    height: 120px;
    width: 240px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.board-title__logo div {
    position: absolute;
    top: 10px;
    left: 10px;
}
