@import "./fonts.scss";
@import "./vars.scss";
@import "./style_profile.scss";
@import "./style_card_modal.scss";
@import "./style_board.scss";
@import "./createBoard.scss";
@import "../../src/components/baseStyles.scss";

.page__layout-sign {
    background-color: var(--sign-page-background);
    width: 100%;
    height: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-sign {
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-header-sign {
    text-align: center;
    font-size: 24px;
    margin-bottom: 35px;
    color: #fff;
}

.form__input-sign {
    border: 2px solid #fff;
    box-shadow: var(--sign-logo-shadow) 4px 4px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}


.input-sign {
    color: #b0b0b0;
    background: transparent;
    font-weight: 400;
    height: 34px;
    width: 320px;
    padding-left: 5px;
    font-size: 20px;
    outline: none;
    position: relative;
}

.form__input img {
    height: 32px;
    width: 32px;
    padding-left: 3px;
}

.sign-link {
    margin-top: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.btn-sign {
    background-color: #000;
    box-shadow: rgba(255, 255, 255, 15%) 4px 4px 10px;
    border: rgba(255, 255, 255) 2px solid;
    height: 50px;
    min-width: 140px;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 15px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    align-self: center;
}

.forgotten-password-link {
    color: rgba(199, 199, 199);
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-self: flex-end;
}

