<div class='flex-row-centered board__main-content'>
    <ol class='flex-row-centered gap-15 board__lists'>
        {{#each lists as |list|}}
            {{{list}}}
        {{/each}}
        <li class='border-radius-10 add-new-list'>
            <div class='flex-start border-radius-10 add-new-list__container'>
                <button class='strach-layout flex-start padding-0-10 gap-10 btn btn-add-new-list'>
                    <img class='box-16-16 add-list__image' src='/svg/plus.svg' alt='add-card' />
                    <span class='font-size-20 font-weight-500 add-card__title'>Добавить список</span>
                </button>
            </div>
        </li>
    </ol>
</div>