<div class='flex-row-centered board__main-content'>
    <ol class='flex-row-centered gap-15 board__lists'>
        {{#each lists as |list|}}
            {{{list}}}
        {{/each}}
        {{{addNewList}}}
    </ol>
</div>