<div class='box-32-32 flex-row-centered team-member'>
    <button class='strach-layout flex-centered btn btn-team-member' data-userID='{{this.ID}}'>
        <img class='strach-layout team-member__avatar' src='/img/{{this.avatar_url}}' alt='avatar' />
    </button>
</div>