<div class='box-32-32 flex-row-centered team-member'>
    <button class='strach-layout flex-centered btn btn-team-member' data-userID='{{this.userID}}'>
        <img class='strach-layout team-member__avatar' src='/img/{{this.avatar}}' alt='avatar' />
    </button>
</div>