<dialog
    id='tag-settings'
    class='border-radius-10 tag-settings'
    aria-modal='false'
    data-tag=''
>
    <div class='flex-column-centered gap-5 padding-10-15 tag-settings-wrapper'>
        <button
            class='border-radius-5 flex-centered font-size-16 font-weight-bold border-radius-5 padding-5-10 btn btn-filter-cards'
        >
            Отфильтровать карточки
        </button>
        <button
            class='border-radius-5 flex-centered font-size-16 font-weight-bold border-radius-5 padding-5-10 btn btn-unpin-tag'
        >
            Открепить
        </button>
        <button
            class='border-radius-5 flex-centered font-size-16 font-weight-bold padding-5-10 btn btn-delete-tag'
        >
            Удалить с доски
        </button>
    </div>
</dialog>