{{#if isData}}
    <div class='card-information__date-wrapper'>
        <span class='date-wrapper__date_start'>{{this.start}}</span>
        <span>—</span>
        <span class='date-wrapper__date_end'>{{this.end}}</span>
    </div>
{{/if}}