{{#if this.isData}}
    <div class='flex-row-centered gap-5 padding-5-10 border-radius-5 card-information__date'>
        <span class='font-size-14 font-weight-bold date-wrapper__date_start'>{{this.start}}</span>
        <span class='font-size-14 font-weight-bold'>&nbsp;—&nbsp;</span>
        <span class='font-size-14 font-weight-bold date-wrapper__date_end'>{{this.end}}</span>
    </div>
{{/if}}