<div class='flex-column-centered flex-centered strach-layout page__layout page__layout-sign'>
    <img class='page__image page__image_left' src='/svg/undraw_performance_overview.svg' />
    <img class='page__image page__image_right' src='/svg/undraw_team_collaboration.svg' />
    <div class='flex-column-centered gap-30 conteiner-sign'>
        <h1 class='flex-centered flex-row-centered container-sign__header'>
            <img class='container-sign-header__logo' src='/svg/logo.svg' />
            <span class='container-sign-header__title'>Tabula</span>
        </h1>
        <h2 class='sign-header-title'>Регистрация</h2>
        {{{form}}}
        <div class='flex-column-centered gap-10'>
            {{{signupLink}}}
            {{{registrationBtn}}}
        </div>
    </div>
</div>