<div class='flex-row-centered gap-10 add-card-user__user'>
    {{#if inCard}}
        <input class='box-16-16 add-card-user__select-user' type='checkbox' checked />
    {{else}}
        <input class='box-16-16 add-card-user__select-user' type='checkbox' />
    {{/if}}
    <div data-id='{{this.ID}}' class='flex-row-centered gap-10 add-card-user__user-information'><img
            class='box-24-24 add-card-user__user-avatar'
            src='/img/{{this.avatar}}'
            alt='avatar'
        /><span class='font-size-14 font-weight-500 add-card-user__user-email'>{{this.email}}</span>
    </div>
</div>