<div class='flex-column-centered gap-15 card-information__files'>
    <div class='flex-row-centered card-information__files-title'>
        <img class='box-24-24 card-information__icon' src='/svg/paperclip.svg' />
        <span
            class='font-size-20 font-weight-500 card-information__card-description-title'
        >Вложения</span>
    </div>
</div>