.card-information__files {
    width: 100%;
}

.card-information__files-wrapper {
    color: var(--text-color-in-card);
    position: relative;
    align-items: flex-start;
    width: 100%;
}

.card-information__files-title {
    width: 100%;
    position: relative;
}
