<dialog id='change-avatar' class='popover-change-avatar' aria-modal='false' popover>
    <div class='popover-wrapper popover-change-avatar-wrapper'>
        <div class='navigation__item'>
            <button
                class='button button-profile'
                data-action='open'
                popovertarget='{{this.dialogID}}'
            ><span>Изменить аватар</span></button>
        </div>
        <div class='navigation__item'>
            <button class='button button-profile' data-action='delete'><span>Удалить аватар</span></button>
        </div>
    </div>
</dialog>