<dialog id='change-avatar' class='popover-change-avatar' popover>
    <div class='popover-wrapper popover-change-avatar-wrapper'>
        <div class='navigation__item'>
            <a
                class='link-button profile-link'
                data-action='load'
                href='{{this.path}}'
            >Изменить аватар</a>
        </div>
        <div class='navigation__item'>
            <a
                class='link-button profile-link'
                data-action='load'
                href='{{this.path}}'
            >Удалить аватар</a>
        </div>
    </div>
</dialog>