.card-data__card-information {
    width: 70%;
    align-items: flex-start;
    padding: 0 20px 10px 40px;
    max-height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}

.card-information__name-and-tags-wrapper {
    color: var(--text-color-in-card);
    position: relative;
    align-items: flex-start;
}

.card-information__name-wrapper {
    color: var(--text-color-in-card);
    position: relative;
    align-items: flex-start;
}

.card-information__icon {
    position: absolute;
    left: -35px;
}

.card-information__description-wrapper {
    color: var(--text-color-in-card);
    position: relative;
    align-items: flex-start;
    width: 100%;
}

.card-information__files-wrapper {
    color: var(--text-color-in-card);
    position: relative;
    align-items: flex-start;
    width: 100%;
}

.card-information__card-description {
    background-color: var(--card-description-background-color);
    width: 100%;
    min-height: 60px;
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    resize: vertical;
    outline: none;
    color: var(--text-color-in-card);
}

.card-information__card-description::placeholder {
    color: var(--text-color-in-card);
}

.card-information__file-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.card-information__file-wrapper {
    width: 100%;
    align-items: flex-start;
}

.card-information__file-description-wrapper {
    align-items: flex-start;
}

.btn-file-actions__update {
    background-color: var(--btn-change-file-background);
    min-width: 100px;
    min-height: 20px;
    color: var(--text-color-card-files-action-buttons);
}

.btn-file-actions__delete {
    background-color: var(--btn-delete-file-background);
    min-width: 100px;
    min-height: 20px;
    color: var(--text-color-card-files-action-buttons);
}

.card-information__file-added-date {
    color: var(--text-color-in-card);
}

.card-information__comments-wrapper {
    position: relative;
    align-items: flex-start;
    width: 100%;
}

.card-information__comments-title {
    position: relative;
    align-items: flex-start;
}

.card-information__card-description-title {
    color: var(--text-color-in-card);
}

.card-information__add-comment {
    position: relative;
    width: 100%;
}

.card-information__add-comment-avatar {
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: -40px;
}

.card-information__add-comment-text {
    background-color: var(--comment-background-color);
    width: 100%;
    min-height: 40px;
    max-height: 150px;
    resize: vertical;
    color: var(--text-color-in-card);
    outline: none;
}

.card-information__add-comment-text::placeholder {
    color: var(--text-color-in-card);
}

.card-information__comment-text::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.card-information__comment-text::-webkit-scrollbar-track {
    background: #00000026;
    border-radius: 6px;
    margin: 10px;
}

.card-information__comment-text::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.858);
    border-radius: 5px;
}

.card-data__card-information::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.card-data__card-information::-webkit-scrollbar-track {
    background: #00000026;
    border-radius: 6px;
    margin: 10px;
}

.card-data__card-information::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.858);
    border-radius: 5px;
}
