<div class='flex-column-centered gap-40 card-data__card-information'>
    <div class='flex-row-centered gap-50 card-information__name-and-tags-wrapper'>
        <div class='flex-column-centered gap-10 card-information__name-wrapper'>
            <div class='flex-row-centered name-wrapper__title'>
                <img class='box-24-24 card-information__icon' src='/svg/card-name.svg' />
                <span
                    contenteditable='true'
                    class='border-radius-5 padding-0-10 font-size-20 font-weight-500 card-information__card-name'
                ></span>
            </div>
            <span class='font-size-14 font-weight-200 card-information__list-name'>в колонке&nbsp<u
                    class='font-size-14 font-weight-500 card-information-list-name__title'
                ></u></span>
        </div>
        <div class='flex-centered card-information__date-wrapper'>
        </div>
        <div class='flex-row card-information__users-wrapper'>
        </div>
        <span class='font-size-16 font-weight-500 card-information__user-overflow'></span>
    </div>
    <div class='flex-column-centered gap-15 card-information__description-wrapper'>
        <div class='flex-row-centered description-wrapper__title'>
            <img class='box-24-24 card-information__icon' src='/svg/card-description.svg' />
            <span
                class='font-size-16 font-weight-500 card-information__card-description-title'
            >Описание карточки
            </span>
        </div>
        <textarea
            class='border-radius-5 font-size-14 font-weight-300 padding-5-10 card-information__card-description'
            maxlength='1024'
            placeholder='Описание карточки...'
        ></textarea>
    </div>
    <div class='flex-column-centered gap-25 card-information__checklists'>
        <div class='flex-column-centered gap-15 card-information__checklist-wrapper'>
            <div class='flex-row-centered checklist-wrapper__title'>
                <img class='box-24-24 card-information__icon' src='/svg/checklist.svg' />
                <span
                    class='font-size-16 font-weight-500 card-information__card-checklist-title'
                >Чеклист
                </span>
                <button
                    class='padding-5-10 border-radius-5 font-size-16 font-weight-500 btn btn-delete-checklist'
                >Удалить</button>
            </div>
            <div class='flex-column-centered gap-5 card-information__checkitems'>

                <div class='padding-5-10 border-radius-5 flex-row-centered check-item'>
                        <input
                            type='checkbox'
                            class='box-16-16 border-radius-5 input input-check-item__checkbox'
                        />
                    <div class='flex-centered check-item__name'><span
                            class='font-size-14 font-weight-500 check-item-name__text'
                        >Пункт 1 чеклиста</span></div>
                    <button class='box-12-12 border-radius-5 flex-centered btn btn-check-item_delete'>
                        <svg
                            class='box-12-12'
                            fill='var(--text-color-in-card)'
                            width='800px'
                            height='800px'
                            viewBox='0 0 16 16'
                            xmlns='http://www.w3.org/2000/svg'
                        >
                            <path
                                d='M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z'
                                fill-rule='evenodd'
                            />
                        </svg>
                    </button>
                </div>
            </div>

            <div class='flex-column-centered checklist-add-item'>
                <button
                    class='padding-5-10 border-radius-5 font-size-14 font-weight-500 btn btn-add-checklist-element'
                >Добавить элемент</button>
                <div class='flex-column-centered gap-10 checklist-new-item'>
                    <input
                        placeholder='Название пункта чеклиста...'
                        maxlength='128'
                        class='border-radius-5 font-size-14 font-weight-500 padding-5-10 input input-checklist-new-item__input'
                        type='text'
                    />
                    <div class='flex-row-centered gap-10 checklist-new-item__buttons'>
                        <button
                            class='padding-5-10 border-radius-5 font-size-14 font-weight-500 btn btn-checklist-new-item_save'
                        >Сохранить</button>
                        <button
                            class='padding-5-10 border-radius-5 font-size-14 font-weight-500 btn btn-checklist-new-item_cancel'
                        >Отмена</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{! <div class='flex-column-centered gap-15 card-information__files-wrapper'>
                <div class='card-information__files-title'>
                    <img class='box-24-24 card-information__icon' src='/svg/paperclip.svg' />
                    <span
                        class='font-size-20 font-weight-500 card-information__card-description-title'
                    >Вложения</span>
                </div>
                <div class='flex-row-centered gap-20 card-information__file-wrapper'>
                    <img
                        class='box-24-24 border-radius-5 card-information__file-image'
                        src='/img/Design.png'
                        alt='file'
                    />
                    <div
                        class='flex-column-centered gap-15 card-information__file-description-wrapper'
                    >
                        <span
                            class='font-size-14 font-weight-500 card-information__file-name'
                        >background.jpg</span>
                        <span
                            class='font-size-14 font-weight-200 card-information__file-added-date'
                        >
                            Добавлено 11.11.2011
                        </span>
                        <div class='flex-row-centered gap-20 card-information__file-actions'>
                            <button
                                class='padding-5-10 font-size-16 font-weight-500 border-radius-5 btn btn-file-actions__update'
                            >
                                Изменить
                            </button>
                            <button
                                class='padding-5-10 font-size-16 font-weight-500 border-radius-5 btn btn-file-actions__delete'
                            >
                                Удалить
                            </button>
                        </div>
                    </div>
                </div>
            </div> }}
    <div class='flex-column-centered gap-20 card-information__comments-wrapper'>
        <div class='flex-row-centered card-information__comments-title'>
            <div class='flex-row-centered comments-wrapper__title'>
                <img class='box-24-24 card-information__icon' src='/svg/comments.svg' />
                <span
                    class='font-size-16 font-weight-500 card-information__card-description-title'
                >Действия</span>
            </div>
        </div>
        <div class='card-information__add-comment'>
            <img
                src='/img/{{this.avatar}}'
                alt='avatar'
                class='box-32-32 card-information__add-comment-avatar'
            />
            <textarea
                class='font-size-12 font-weight-300 padding-5-10 border-radius-5 card-information__add-comment-text'
                maxlength='256'
                placeholder='Добавить комментарий...'
            ></textarea>
        </div>
        <div class='flex-column-centered gap-10 card-information__users-comments'>
        </div>
    </div>
</div>