<li class='workspaces-list__item-wrapper'>
    <div
        class='font-size-24 font-weight-bold flex-row-centered gap-10 padding-0-10 workspaces-list__item'
    ><span class='box-32-32 border-radius-5 flex-centered workspace-logo'>W</span>
        <span class='font-size-16 font-weight-500 flex-centered workspace__title'>{{this.name}}</span>
    </div>
</li>