<div class='flex-column-centered gap-20 workspace'>
    <span class='font-size-18 font-weight-500 padding-0-10 workspace__title'>Workspace
        <span class='font-weight-bold'>{{this.name}}</span></span>
    <div class='flex-row-centered gap-10 workspace__boards'>
        {{#each boards as |board|}}
            {{{board}}}
        {{/each}}
        <button class='stratch-layout border-radius-5 flex-centered btn btn-create-board'>
            <span class='font-size-16 font-weight-500 workspace-board__create-title'>Создать доску</span>
        </button>
    </div>
</div>